<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Receives the OAuth redirect from Custom Tabs. The intent-filter
             scheme/host must match OAuthConfigModule.REDIRECT_URI. -->
        <activity
            android:name=".oauth.OAuthRedirectActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter android:autoVerify="false">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="virga" android:host="oauth" android:path="/callback" />
            </intent-filter>
        </activity>
    </application>
</manifest>
